# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/cmake-build-minsizerel/
/cmake-build-coverage/
/cmake-build-asan-clang/
/cmake-build-debug-exe/
/cmake-build-debug-lib/
/HummingBirdTestPlugin/
