[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/TheCherno/GLFW
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/imterm"]
	path = vendor/imterm
	url = https://github.com/Organic-Code/ImTerm.git