[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/kasperhbo/Glad.git
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/kasperhbo/SDL.git
	branch = release-2.28.x
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/kasperhbo/fmt.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/kasperhbo/spdlog.git
[submodule "vendor/glad"]
    path = vendor/glad
    url = https://github.com/kasperhbo/Glad.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:kasperhbo/imgui.git
	branch = docking
